/* General configuration */
:root {
    --color-light-primary: #fefefe;
    --color-light-secondary: #d1d1d1;
    --color-dark-primary: #121212;
    --color-dark-secondary: #414141;
}

/* Fonts */
@font-face {
    font-weight: normal;
    font-family: "Noto Sans";
    src: url(./fonts/NotoSans-Regular.woff2) format("woff2");
}
@font-face {
    font-weight: bold;
    font-family: "Noto Sans";
    src: url(./fonts/NotoSans-Bold.woff2) format("woff2");
}

/* Everything else */
* {
    margin: 0px;
    font-family: "Noto Sans";
    transition: color 1s ease;
}
svg {
    transition: all 1s ease;
}
body {
    margin: 0px;
    overflow: hidden;
    width: fit-content;
}
main {
    padding: 20px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    width: 422px;
    height: 150px;
}
div.flow {
    gap: 20px;
    height: 100%;
    align-items: center;
    z-index: 2;
    position: relative;
}
div.data {
    gap: 5px;
    width: 100%;
    max-width: 282px;
    height: 140px;
    flex-direction: column;
    justify-content: space-between;
}
div.flow, div.data, div.buttons {
    display: flex;
}
div.buttons {
    gap: 10px;
    align-items: center;
    justify-content: center;
}
div.progress-bar, div.progress-bar > div {
    height: 15px;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}
img {
    width: 120px;
    height: 120px;
    border-radius: 18px;
}
button {
    border: none;
    cursor: pointer;
    background: none;
}

/* Color based matching */
.dark {
    fill: var(--color-light-primary);
    color: var(--color-light-primary);
}
.dark.secondary {
    fill: var(--color-light-secondary);
    color: var(--color-light-secondary);
}
div.progress-bar.dark {
    background-color: var(--color-light-primary);
}
div.progress-bar > div.dark {
    background-color: var(--color-light-secondary);
}
.dark:not(.progress-bar):hover {
    fill: var(--color-light-secondary);
    color: var(--color-light-secondary);
}

.light {
    fill: var(--color-dark-primary);
    color: var(--color-dark-primary); 
}
.light.secondary {
    fill: var(--color-dark-secondary);
    color: var(--color-dark-secondary); 
}
div.progress-bar.light {
    background-color: var(--color-dark-primary);
}
div.progress-bar > div.light {
    background-color: var(--color-dark-secondary);
}
.light:not(.progress-bar):hover {
    fill: var(--color-dark-secondary);
    color: var(--color-dark-secondary);
}

/* ID matches */
#background-image {
    filter: blur(5px);
    transform: scale(1.1);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
#visualizer {
    opacity: .5;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Handle scrolling text */
@keyframes marquee {
    0% { transform: translate(0, 0) }
    to { transform: translate(-100%, 0) }
}
#marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}
#marquee > * {
    display: inline-block;
}
